.section-title {
     font-size: 2rem;
     font-weight: 600;
}

.section-description {
     font-size: 1rem;
     max-width: 600px;
     text-align: left;
}

.item-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.nav-pills .nav-link {
     background-color: white !important;
     color: #888888;
     font-size: 15px;

}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
     color: black !important;
     text-decoration: underline black;
}

.nav {
     margin-bottom: 70px;
}