.latest-collections {
     background-color: #f9f9f9;
}

.section-title {
     font-size: 2rem;
     font-weight: 600;
}

.section-description {
     font-size: 1rem;
     max-width: 600px;
     margin: 0 auto;
}

.item-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}