.about-container {
  background-color: #fff;
  border-radius: 12px;
  margin: 40px auto;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.about-image {
  flex: 1;
  min-width: 300px;
  background-color: #f8f9fa;
}

.about-row {
  margin:75px 0;
}

img {
  width: 75% !important;
  /* height: 75% !important; */
  object-fit: cover;
}

.about-content {
  flex: 2;
  padding: 40px;
}

.bg-img-heading h2 {
  font-weight: 700;
  font-size: 50px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 15px;
}

.about-content h2 {
  font-size: 25px;
  font-weight: 800;
}

.bg-img-heading {
  background-image: url("../../assets copy/bg-01.jpg.webp");
  background-repeat: no-repeat;
  padding: 80px 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-image {
    height: 250px;
  }

  .about-content {
    padding: 20px;
  }
}
