.update-btn {
  background-color: #717fe0 !important;
}

.update-btn:hover {
  background-color: black !important;
  color: white !important;
}

.edit-profile-container input {
  border-radius: 0 !important;
}

.edit-profile-container input[type="text"] {
  height: 60px;
}

.edit-profile-container input[type="file"] {
    width: 23%;
}