* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactSection {
  min-height: 70vh;
  background-color: #f9f9f9;
  /* margin-top: 75px; */
}

.contactImage {
  max-height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: default;
}

.bg-img-heading {
  background-image: url("../../assets copy/bg-01.jpg.webp");
  background-repeat: no-repeat;
  padding: 80px 0;
}

.bg-img-heading h2 {
  font-weight: 700;
  font-size: 50px;
}

.contactImage:hover {
  transform: scale(1.05);
}

.contactContext h3 {
  font-weight: 600;
}

.address p,
.telEmail p {
  margin-bottom: 0.2rem;
  color: #555;
}

.careers {
  margin-top: 2rem;
  font-weight: 600;
}

.contactLearnP {
  color: #666;
  line-height: 1.5;
}

#exploreJobs {
  min-width: 150px;
}

.explore-btn {
  background-color: #717fe0;
}

.explore-btn:hover {
  background-color: black;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .contactContext {
    text-align: center;
  }
}

p {
  text-align: left;
}
