*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactSection {
  min-height: 70vh;
  background-color: #f9f9f9;
  margin-top: 75px;
}

.contactImage {
  max-height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: default;
}

.contactImage:hover {
  transform: scale(1.05);
}

.contactContext h3 {
  font-weight: 600;
}

.address p,
.telEmail p {
  margin-bottom: 0.2rem;
  color: #555;
}

.careers {
  margin-top: 2rem;
  font-weight: 600;
}

.contactLearnP {
  color: #666;
  line-height: 1.5;
}

#exploreJobs {
  min-width: 150px;
}

.explore-btn {
  background-color: #717fe0;
}

.explore-btn:hover {
  background-color: black;
}

@media (max-width: 768px) {
  .contactContext {
    text-align: center;
  }
}

p {
     text-align: left;
}