.sidebar .nav-pills .nav-link{
   background-color: transparent !important;
}

.sidebar .nav-pills .nav-link:hover,
.sidebar .nav-pills .nav-link.active {
    color: gray !important;
    text-decoration: none !important;
}