.footer {
  font-size: 15px;
  background-color: #222222;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer p {
     text-align:left;
}

.footer p,
.footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer a.footer-link:hover {
  color: #717fe0;  
}

.footer-divider {
  border-top: 1px solid #555;
  margin: 20px 0;
}

.footer ul li {
     margin: 3px 0;
}

.footer ul li:hover{
  color: #717fe0;
}

.footer .social-icons {
  font-size: 18px;
}

.footer .social-icons a{
  transition: color 0.2s ease;
}

.footer .social-icons a:hover {
     color: #717fe0;
}