.product-details {
  margin-right: 20px;
  width: 270px;
  position: relative;
}

.product-details img {
  height: 334px;
  width: 100% !important;
  object-fit: cover;
}

.name-para {
  color: #999999;
  font-size: 16px;
}

.Product-price-para {
  font-size: 14px;
  color: #666666;
}

.viewBtn {
  position: absolute;
  top: 60%;
  left: 27%;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.viewBtn:hover {
     background-color: black !important; 
     color: white !important;
}

.product-details:hover .viewBtn {
  opacity: 9;
}

.imgBox {
  overflow: hidden;
}

.imgBox:hover img {
  transition: transform 0.9s ease;
  transform: scale(1.1);
}