.uploadImgContainer label {
  width: 120px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  border: 2px dashed #ced4da;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: border-color 0.3s;
}

.uploadImgContainer label:hover {
  border-color: #717fe0;
}

.uploadImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

button[type="submit"] {
  width: 9rem !important;
  padding: 10px 10px !important;
}

.add-btn {
  background-color: #717fe0 !important;
}

.add-btn:hover {
  background-color: black !important;
  color: white !important;
}

.add-product-container form {
  border: 1px solid #80808042;
}

.add-product-container input {
  height: 60px;
}

.add-product-container input,textarea {
  border-radius: 0 !important;
  font-size: 16px;
}

.form-control:focus {
  border: 1px solid #717fe0 !important;
  box-shadow: 0 0 0 0.25rem #7180e05e;
}